{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}
{% block body %}
    {{ game.title }}
    {{ game.description }}
    {{ game.releaseDate|date('d-m-Y') }}
    {{ game.editor.buisnessName }}
    {{ game.editor.nationality }}

    {% if is_granted("ROLE_USER") %}
        <a href="{{ path('favorite_add', {'id': game.id}) }}">Add to favorite</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('game_edit', {'id': game.id}) }}">Edit</a>
        <a href="{{ path('game_delete', {'id': game.id}) }}">Delete</a>
    {% endif %}
{% endblock %}
